#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.button-no{
  background-color:red;
  color: white;
  border: 1px solid #1a1a1a;
}
.button-yes{
  background-color:green;
  color: white;
  border: 1px solid #1a1a1a;
}
.img-1{
  height: 150px;
  width: 150px;
}
.img-2{
  height: 250px;
  width: 150px;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

.footer {
  position: absolute;
  bottom: 0;
}